name: Hello World workflow

on:
  push:
    branches:
      - main

  # Adding workflow_dispatch for having a button in github console to rerun workflow without the need to commit and push code.
  workflow_dispatch:

jobs:
  task-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Getting checkout@v2
        uses: actions/checkout@v2
      - name: Setting up node
        uses: actions/setup-node@v3
        with:
          node-version: 14
      - run: npm install
      - run: npm start
        
